.admintitle
{
	background-color:blue;
	color: white;
	margin-left: 50px;
	margin-right:50px;
	height: 140px;
	line-height: 140px;

}

.dashboard
{
	background-color: lightgreen;
	margin-left: 50px;
	margin-right:50px;
	height: 140px;
	font-size: 25px;

}